@model CMCSApplication.Models.Department

@{
    ViewData["Title"] = "Edit Department";
}

<div class="container py-4">
    <a asp-controller="Department" asp-action="Index"
       class="btn btn-outline-primary rounded-pill shadow-sm mt-3">
        Back to Dashboard
    </a>
    <h2 class="fw-bold mb-4">Edit Department</h2>

    <div class="card shadow-sm">
        <div class="card-body">
            <form asp-action="Edit" method="post">
                <input type="hidden" asp-for="Id" />

                <div class="mb-3">
                    <label asp-for="Name" class="form-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="HourlyRate" class="form-label"></label>
                    <input asp-for="HourlyRate" class="form-control" />
                    <span asp-validation-for="HourlyRate" class="text-danger"></span>
                </div>

                <button class="btn btn-warning">Save Changes</button>
                <a asp-action="Index" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
