USE [master]
GO
/****** Object:  Database [CMCSDatabase]    Script Date: 11/21/2025 8:27:44 PM ******/
CREATE DATABASE [CMCSDatabase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CMCSDatabase', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CMCSDatabase.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CMCSDatabase_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CMCSDatabase_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CMCSDatabase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CMCSDatabase]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 11/21/2025 8:27:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Claims]    Script Date: 11/21/2025 8:27:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Claims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[HoursWorked] [int] NOT NULL,
	[HourlyRate] [decimal](18, 2) NOT NULL,
	[Notes] [nvarchar](500) NULL,
	[SupportingDocument] [nvarchar](max) NULL,
	[Status] [nvarchar](max) NOT NULL,
	[DateSubmitted] [datetime2](7) NOT NULL,
	[Department] [nvarchar](max) NOT NULL,
	[LecturerName] [nvarchar](max) NOT NULL,
	[Month] [nvarchar](max) NOT NULL,
	[DateApproved] [datetime2](7) NULL,
	[DateVerified] [datetime2](7) NULL,
	[OriginalFileName] [nvarchar](max) NULL,
	[ModuleId] [int] NULL,
	[CoordinatorStatus] [nvarchar](max) NOT NULL,
	[ManagerStatus] [nvarchar](max) NOT NULL,
	[LecturerId] [int] NULL,
	[FilePath] [nvarchar](max) NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[CoordinatorId] [nvarchar](max) NULL,
	[ManagerId] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
	[Username] [nvarchar](max) NULL,
 CONSTRAINT [PK_Claims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 11/21/2025 8:27:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[HourlyRate] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_Departments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lecturers]    Script Date: 11/21/2025 8:27:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lecturers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[HourlyRate] [decimal](18, 2) NOT NULL,
	[Username] [nvarchar](max) NULL,
	[DepartmentId] [int] NULL,
 CONSTRAINT [PK_Lecturers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ModuleAssignments]    Script Date: 11/21/2025 8:27:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ModuleAssignments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LecturerId] [int] NOT NULL,
	[ModuleId] [int] NOT NULL,
 CONSTRAINT [PK_ModuleAssignments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Modules]    Script Date: 11/21/2025 8:27:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Modules](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](200) NULL,
 CONSTRAINT [PK_Modules] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 11/21/2025 8:27:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[Role] [nvarchar](max) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Surname] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[HourlyRate] [decimal](18, 2) NULL,
	[LecturerId] [int] NULL,
	[DepartmentId] [int] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251020144836_InitialCreate', N'9.0.10')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251020164816_SecondMigration', N'9.0.10')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251022073532_AddDateApprovedToClaim', N'9.0.10')
GO
SET IDENTITY_INSERT [dbo].[Claims] ON 

SET IDENTITY_INSERT [dbo].[Claims] OFF
GO
SET IDENTITY_INSERT [dbo].[Departments] ON 

INSERT [dbo].[Departments] ([Id], [Name], [HourlyRate]) VALUES (1, N'IT', CAST(350.00 AS Decimal(18, 2)))
INSERT [dbo].[Departments] ([Id], [Name], [HourlyRate]) VALUES (2, N'Business', CAST(320.00 AS Decimal(18, 2)))
INSERT [dbo].[Departments] ([Id], [Name], [HourlyRate]) VALUES (3, N'Engineering', CAST(400.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Departments] OFF
GO
SET IDENTITY_INSERT [dbo].[Lecturers] ON 

INSERT [dbo].[Lecturers] ([Id], [Name], [HourlyRate], [Username], [DepartmentId]) VALUES (1, N'Didi Leping', CAST(0.00 AS Decimal(18, 2)), NULL, NULL)
INSERT [dbo].[Lecturers] ([Id], [Name], [HourlyRate], [Username], [DepartmentId]) VALUES (2, N'katy Mokoena', CAST(0.00 AS Decimal(18, 2)), NULL, NULL)
INSERT [dbo].[Lecturers] ([Id], [Name], [HourlyRate], [Username], [DepartmentId]) VALUES (3, N'Lesego Kganyago', CAST(350.00 AS Decimal(18, 2)), N'lect1', NULL)
SET IDENTITY_INSERT [dbo].[Lecturers] OFF
GO
SET IDENTITY_INSERT [dbo].[ModuleAssignments] ON 

INSERT [dbo].[ModuleAssignments] ([Id], [LecturerId], [ModuleId]) VALUES (1, 1, 1)
SET IDENTITY_INSERT [dbo].[ModuleAssignments] OFF
GO
SET IDENTITY_INSERT [dbo].[Modules] ON 

INSERT [dbo].[Modules] ([Id], [Name], [Description]) VALUES (1, N'CLDV6212', NULL)
SET IDENTITY_INSERT [dbo].[Modules] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Username], [Password], [Role], [Name], [Surname], [Email], [HourlyRate], [LecturerId], [DepartmentId]) VALUES (1, N'hr1', N'hr1234', N'HR', N'HR', N'Radebe', N'hr@college.com', NULL, NULL, NULL)
INSERT [dbo].[Users] ([Id], [Username], [Password], [Role], [Name], [Surname], [Email], [HourlyRate], [LecturerId], [DepartmentId]) VALUES (2, N'manager1', N'manager1234', N'Manager', N'Michael', N'Zulu', N'manager@college.com', NULL, NULL, NULL)
INSERT [dbo].[Users] ([Id], [Username], [Password], [Role], [Name], [Surname], [Email], [HourlyRate], [LecturerId], [DepartmentId]) VALUES (3, N'coord1', N'coordinator1234', N'Coordinator', N'Cindy', N'Mokoena', N'coord@college.com', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [IX_Claims_LecturerId]    Script Date: 11/21/2025 8:27:44 PM ******/
CREATE NONCLUSTERED INDEX [IX_Claims_LecturerId] ON [dbo].[Claims]
(
	[LecturerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Claims_ModuleId]    Script Date: 11/21/2025 8:27:44 PM ******/
CREATE NONCLUSTERED INDEX [IX_Claims_ModuleId] ON [dbo].[Claims]
(
	[ModuleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Lecturers_DepartmentId]    Script Date: 11/21/2025 8:27:44 PM ******/
CREATE NONCLUSTERED INDEX [IX_Lecturers_DepartmentId] ON [dbo].[Lecturers]
(
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ModuleAssignments_LecturerId]    Script Date: 11/21/2025 8:27:44 PM ******/
CREATE NONCLUSTERED INDEX [IX_ModuleAssignments_LecturerId] ON [dbo].[ModuleAssignments]
(
	[LecturerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ModuleAssignments_ModuleId]    Script Date: 11/21/2025 8:27:44 PM ******/
CREATE NONCLUSTERED INDEX [IX_ModuleAssignments_ModuleId] ON [dbo].[ModuleAssignments]
(
	[ModuleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_DepartmentId]    Script Date: 11/21/2025 8:27:44 PM ******/
CREATE NONCLUSTERED INDEX [IX_Users_DepartmentId] ON [dbo].[Users]
(
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_LecturerId]    Script Date: 11/21/2025 8:27:44 PM ******/
CREATE NONCLUSTERED INDEX [IX_Users_LecturerId] ON [dbo].[Users]
(
	[LecturerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Claims] ADD  DEFAULT (N'') FOR [Status]
GO
ALTER TABLE [dbo].[Claims] ADD  DEFAULT (N'') FOR [Department]
GO
ALTER TABLE [dbo].[Claims] ADD  DEFAULT (N'') FOR [LecturerName]
GO
ALTER TABLE [dbo].[Claims] ADD  DEFAULT (N'') FOR [Month]
GO
ALTER TABLE [dbo].[Claims] ADD  DEFAULT (N'') FOR [CoordinatorStatus]
GO
ALTER TABLE [dbo].[Claims] ADD  DEFAULT (N'') FOR [ManagerStatus]
GO
ALTER TABLE [dbo].[Claims] ADD  DEFAULT ((0.0)) FOR [Amount]
GO
ALTER TABLE [dbo].[Claims] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Lecturers] ADD  DEFAULT ((0.0)) FOR [HourlyRate]
GO
ALTER TABLE [dbo].[Claims]  WITH CHECK ADD  CONSTRAINT [FK_Claims_Lecturers_LecturerId] FOREIGN KEY([LecturerId])
REFERENCES [dbo].[Lecturers] ([Id])
GO
ALTER TABLE [dbo].[Claims] CHECK CONSTRAINT [FK_Claims_Lecturers_LecturerId]
GO
ALTER TABLE [dbo].[Claims]  WITH CHECK ADD  CONSTRAINT [FK_Claims_Modules_ModuleId] FOREIGN KEY([ModuleId])
REFERENCES [dbo].[Modules] ([Id])
GO
ALTER TABLE [dbo].[Claims] CHECK CONSTRAINT [FK_Claims_Modules_ModuleId]
GO
ALTER TABLE [dbo].[Lecturers]  WITH CHECK ADD  CONSTRAINT [FK_Lecturers_Departments_DepartmentId] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Departments] ([Id])
GO
ALTER TABLE [dbo].[Lecturers] CHECK CONSTRAINT [FK_Lecturers_Departments_DepartmentId]
GO
ALTER TABLE [dbo].[ModuleAssignments]  WITH CHECK ADD  CONSTRAINT [FK_ModuleAssignments_Lecturers_LecturerId] FOREIGN KEY([LecturerId])
REFERENCES [dbo].[Lecturers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ModuleAssignments] CHECK CONSTRAINT [FK_ModuleAssignments_Lecturers_LecturerId]
GO
ALTER TABLE [dbo].[ModuleAssignments]  WITH CHECK ADD  CONSTRAINT [FK_ModuleAssignments_Modules_ModuleId] FOREIGN KEY([ModuleId])
REFERENCES [dbo].[Modules] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ModuleAssignments] CHECK CONSTRAINT [FK_ModuleAssignments_Modules_ModuleId]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Departments_DepartmentId] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Departments] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Departments_DepartmentId]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Lecturers_LecturerId] FOREIGN KEY([LecturerId])
REFERENCES [dbo].[Lecturers] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Lecturers_LecturerId]
GO
USE [master]
GO
