@model CMCSApplication.Models.User

<h2>Edit User</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="mb-3">
        <label>Name</label>
        <input asp-for="Name" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Surname</label>
        <input asp-for="Surname" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Email</label>
        <input asp-for="Email" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Role</label>
        <select asp-for="Role" class="form-control">
            <option>Lecturer</option>
            <option>Coordinator</option>
            <option>Manager</option>
            <option>HR</option>
        </select>
    </div>

    <div class="mb-3">
        <label>Hourly Rate</label>
        <input asp-for="HourlyRate" class="form-control" />
    </div>

    <button class="btn btn-warning">Save Changes</button>
</form>
